Django==5.2.9
djangorestframework==3.16.1
psycopg2-binary==2.9.11
dj-database-url==3.1.2
gunicorn==25.1.0
django-cors-headers==4.9.0
python-dotenv==1.2.1
requests==2.32.5
tqdm==4.67.1
numpy==2.2.6
spacy==3.8.11